<div class="footer">
  <div class="contact-me">
    <p class="lg-name">Jasmine Chao</p>
    <p>Coder and sourdough baker living in Berlin.</p>
    <p>hi@jasminechao.com</p>
  </div>
  <div class="footer-links">
    <a href="https://github.com/jasminechao"><i class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/in/ejasminechao"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.instagram.com/jazzychao/"><i class="fa fa-instagram"></i></a>
  </div>
</div>
