---
title: Jasmine Chao • Fullstack Developer and Baker in Berlin
---

<div id="home">
  <div class="home-content">
    <h1 class= "big-block-text">Hello</h1>
  </div>
  <div class="header">
    <div class="header-box">
      <h1 class="header title">Jasmine Chao</h1>
      <h2 id="scrolling_titles" class="header subtitle">Fullstack Developer</h2>
    </div>
  </div>
</div>
